@page
@model Sales_Contracts.Pages.Contractz.IndexModel

@{
	ViewData["Title"] = "Contracts";
}

<h2>Contracts</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				Contract Type
			</th>
			<th>
				Contract No.
			</th>
			<th>
				Primary Contract No.
			</th>
			<th>
				Description
			</th>
			<th>
				Agreement Status Code
			</th>
			<th>
				Agreement Valid
			</th>
			<th>
				Account No.
			</th>
			<th>
				Contact No.
			</th>
			<th>
				Name
			</th>
			<th>
				Contact Name
			</th>
			<th>
				Responsible Person Code
			</th>
			<th>
				Contract Date
			</th>
			<th>
				Open-ended Contract
			</th>
			<th>
				Starting Date
			</th>
			<th>
				Ending Date
			</th>
			<th>
				Bank No.
			</th>
			<th>
				Bank Name
			</th>
			<th>
				Bank Account No.
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contract_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primary_Contract_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agreement_Status_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agreement_Valid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsible_Person_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open_ended_Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starting_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ending_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank_Account_No)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Contract_No">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Contract_No">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Contract_No">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
